{% extends 'base.html' %}
{% load static %}
{% block title %}Fason Alüminyum Doğrama İmalatı - 0533 683 30 58}{% endblock title %}
{% block dc.title %}Fason Alüminyum Doğrama İmalatı- 0533 683 30 58{% endblock dc.title %}
{% block og.title %}Fason Alüminyum Doğrama İmalatı- 0533 683 30 58{% endblock og.title %}
{% block tw.title %}Fason Alüminyum Doğrama İmalatı- 0533 683 30 58{% endblock tw.title %}
{% block item.title %}Fason Alüminyum Doğrama İmalatı- 0533 683 30 58{% endblock item.title %}

{% block description %}Fason Alüminyum Doğrama İmalatı ve Cephe Sistemleri Kaliteli hizmet uygun fiyat garantisi.{% endblock description %}
{% block dc.description %}Fason Alüminyum Doğrama İmalatı ve Cephe Sistemleri Kaliteli hizmet uygun fiyat garantisi.{% endblock dc.description %}
{% block og.description %}Fason Alüminyum Doğrama İmalatı ve Cephe Sistemleri Kaliteli hizmet uygun fiyat garantisi.{% endblock og.description %}
{% block tw.description %}Fason Alüminyum Doğrama İmalatı ve Cephe Sistemleri Kaliteli hizmet uygun fiyat garantisi.{% endblock tw.description %}
{% block item.description %}Fason Alüminyum Doğrama İmalatı ve Cephe Sistemleri Kaliteli hizmet uygun fiyat garantisi.{% endblock item.description %}

{% block content %}
      <!-- Page Header Start -->
      <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <h1 class="display-1 text-white animated slideInDown">Hakımızda</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb text-uppercase mb-0">
                    <li class="breadcrumb-item"><a class="text-white" href="{% url 'index' %}">Ana Sayfa</a></li>
                    <li class="breadcrumb-item text-primary active" aria-current="page">Hakkımızda</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->
    {% include 'particial/_about.html' %}
    {% include 'particial/_feature.html' %}
{% endblock content %}