{% extends 'base.html' %}
{% load static %}
{% block title %}Fason Alüminyum Doğrama İmalatı - 0533 683 30 58{% endblock title %}
{% block dc.title %}Fason Alüminyum Doğrama İmalatı- 0533 683 30 58{% endblock dc.title %}
{% block og.title %}Fason Alüminyum Doğrama İmalatı- 0533 683 30 58{% endblock og.title %}
{% block tw.title %}Fason Alüminyum Doğrama İmalatı- 0533 683 30 58{% endblock tw.title %}
{% block item.title %}Fason Alüminyum Doğrama İmalatı- 0533 683 30 58{% endblock item.title %}

{% block description %}Fason Alüminyum Doğrama olarak, her türde ve markada alüminyum profil sistemlerinin kesimi ve işlenmesi{% endblock description %}
{% block dc.description %}Fason Alüminyum Doğrama olarak, her türde ve markada alüminyum profil sistemlerinin kesimi ve işlenmesi{% endblock dc.description %}
{% block og.description %}Fason Alüminyum Doğrama olarak, her türde ve markada alüminyum profil sistemlerinin kesimi ve işlenmesi{% endblock og.description %}
{% block tw.description %}Fason Alüminyum Doğrama olarak, her türde ve markada alüminyum profil sistemlerinin kesimi ve işlenmesi{% endblock tw.description %}
{% block item.description %}Fason Alüminyum Doğrama olarak, her türde ve markada alüminyum profil sistemlerinin kesimi ve işlenmesi{% endblock item.description %}

{% block content %}
    {% include 'particial/_carousel.html' %}
    {% include 'particial/_facts.html' %}

    <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container text-left">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <h1 class="display-1">Fason Alüminyum Doğrama İmalat</h1>
                    <h2 class="mb-4">Fason Alümünyum İmalatı</h2>
                    <p class="mb-4">
                        Fason Alüminyum doğrama imalatı, yapı sektörü odaklı, alüminyum doğrama kapı, alüminyum doğrama pencere fason imalatı yapmaktadır. Her türde, kapı, pencere, ofis bölme sistemi, 
                        alüminyum korkuluk / küpeşte ve cephe profili uygulama projeleri için, alüminyum profillerin fason kesimi, işlenmesi, ve montaja hazır hale getirilmesi aşamaları tamamlanıp, 
                        şantiyelere hasarsız bir şekilde teslimi için ambalajlanmak suretiyle en kısa sürede teslim edilmektedir.
                    </p>
                    <p class="mb-4">Fason Alüminyum Doğrama  olarak, her türde ve markada alüminyum profil sistemlerinin kesimi ve işlenmesi,  alüminyum doğrama kapı ve pencere imalatı, 
                        uygulama hizmetlerini kapsayan fason üretim hizmetlerini İstanbul Sultanbeyli atölyemizle yapmakta ve Türkiye'nin birçok noktasına sevk etmekteyiz.</p>
                    <p class="mb-4">Fason alüminyum imalat firmamız, mimarlık büroları, orta ve büyük ölçekli inşaat firmalarının yapı projelerinde, fason alüminyum doğrama çözümlerimizle hizmet sunmaktadır.
                         Tercih edilmede en önemli sebep, teknolojik ve modern makine hattımız,  yüksek müşteri memmuniyeti ve hızlı teslimattır.</p>
                    <ul>
                        <li>Alüminyum sürme doğrama imalatı</li>
                        <li>Alüminyum kapı pencere imalatı</li>
                        <li>Alüminyum giydirme cephe imalatı</li>
                        <li>Asaş rwt 55</li>
                        <li>Asaş rst 116</li>
                        <li>Isı yalıtımlı sistem </li>
                        <li>Isı yalıtımsız sistem </li>
                        <li>C 60  </li>
                    </ul>
                    <p>Fason imalat yapılmaktadır.</p>
                </div>
            </div>
        </div>
    </div>
    {% include 'particial/_services.html' %}
    {% include 'particial/_about.html' %}
    {% include 'particial/_feature.html' %}
    {% include 'particial/_project.html' %}
    {% include 'particial/_contact.html' %}
{% endblock content %}


