  {% load static %}
  <!-- Feature Start -->
  <div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="h4 section-title">Fason Alüminyum Doğrama</h1>
                <h4 class="h1 display-5 mb-4">Neden Bize Güvenmelisiniz? Hakkımızda Daha Fazla Bilgi Edinin!</h4>
                <p class="mb-4">Fason Alüminyum Doğrama İmalatı, Hazırlanan doğramalar montaja hazır bir şekilde en kısa sürede teslime hazırlanmaktadır.</p>
                <div class="row g-4">
                    <div class="col-12">
                        <div class="d-flex align-items-start">
                            <img class="flex-shrink-0" src="{% static 'img/icons/icon-6.png' %}" alt="Icon">
                            <div class="ms-4">
                                <h3>MiSYONUMUZ</h3>
                                <p class="mb-0">Çalışmalarında kaliteyi sürekli iyileştirmeyi ve başarılarını sürekli kılmayı hedefleyen şirketimiz, kurumsal yapısı içinde ISO 9001:2000 Kalite Yönetim Sistemi’ni uygulamaktadır.
                                    Sektördeki tecrübemizden hareket ederek insana ve çevreye duyduğumuz saygıyla dünü, bugünü ve yarını gelecekle buluşturuyor, yapı sektöründe çığır açan projelerimizle sizlere daha ferah ortamlar hazırlıyoruz.
                                    Bu anlayış çerçevesinde tutkuyla bağlı olduğumuz işimizi, insanımıza modern yaşam biçimleri, şehrimize ve ülkemize de model yaşam alanları sunmanın çabası içinde yürütüyoruz.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="d-flex align-items-start">
                            <img class="flex-shrink-0" src="{% static 'img/icons/icon-5.png' %}" alt="Icon">
                            <div class="ms-4">
                                <h3>ŞiRKET ViZYONU</h3>
                                <h4 class="mb-3">Temel İlkelerimiz</h4>
                                <ul>
                                    <li>Verdiğimiz hizmetlerde tüm yasal gereklilikleri yerine getirerek, müşterilerimizin hizmet ve kullanımına sunmak</li>
                                    <li>Ürün ve hizmet kalitesini sürekli arttırarak; global çapta rekabet edebilir ürünleri yerli üretim avantajı ile piyasaya sunmak</li>
                                    <li>Yalnızca ürün satışına değil, satış işlemi sonrasında da koşulsuz müşteri memnuniyetine odaklanmak ve ürettiğimiz ürünün daima arkasında olmak</li>  
                                    <li>Kaliteyi en verimli ve hızlı yoldan ulaştırmak</li>
                                    <li>Yeni yatırım ve faaliyetlerin seçiminde iş ve işçi sağlığını korurken çevre korunmasını ön planda tutmak</li>

                                </ul>
                                <p class="mb-0">
                                                                     
                                    <h4 class="mb-3">Müşteri Memnuniyetini Arttırmak</h4>
                                    <ul>
                                        <li>Kalite konusunda sürekli geliştirme ve iyileştirme sağlamak</li>
                                        <li>Belirlenen hedeflere zamanında ve uygun şekilde etkin çözümler üretmek                                 </li>

                                    </ul>
                                    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="feature-img">
                    <img class="img-fluid" src="{% static 'img/about-2.jpg' %}" alt="">
                    <img class="img-fluid" src="{% static 'img/about-1.jpg' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feature End -->